<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1><i class="fa fa-file fa-fw"></i> Documents <small>Tous les documents</small></h1>
    </div>
  </div>
</div>

<div class="row" *ngIf="authService.canWrite(user)">
  <div class="col-lg-12">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <a class="btn btn-default"><i class="fa fa-folder fa-fw"></i> Ajouter un dossier</a>
      </div>

      <div class="btn-group">
        <a class="btn btn-default"><i class="fa fa-file-o fa-fw"></i> Ajouter des fichiers</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li class="active">
        <a routerLink="/documents"><i class="fa fa-file fa-fw"></i> Documents</a>
      </li>
      <li></li>
    </ol>

    <table class="table table-hover">
      <thead>
          <tr>
              <th style="width: 50px" class="text-center"><i class="fa fa-square-o fa-fw"></i></th>
              <th>Nom</th>
              <th>Type</th>
              <th style="width: 100px">Taille</th>
              <th style="width: 200px" class="text-center">Dernière modification</th>
              <th style="width: 80px" *ngIf="authService.canWrite(user)">Actions</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let folder of folders">
          <td class="text-center"></td>
          <td><i class="fa fa-folder fa-fw"></i><a [routerLink]="['document/'+folder.id]"> {{ folder.name }}</a></td>
          <td>Dossier</td>
          <td class="text-right"></td>
          <td class="text-center">{{ folder.timestamp |  date:'short' }}</td>
          <td *ngIf="authService.canWrite(user)">
            <a class="btn btn-default btn-xs"><i class="fa fa-pencil fa-fw"></i></a> 
            <a class="btn btn-default btn-xs"><i class="fa fa-trash-o fa-fw"></i></a>
        </td>
        </tr>
      </tbody>
  </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-muted text-center small">
        <hr />
          Équipe Team 3990: Tech for Kids.
          <i class="fa fa-info-circle fa-fw"></i> Version 1.0.0 (20170905). <a href="#">Change Log</a>.
          <i class="fa fa-question-circle fa-fw"></i> Soutien technique: <a href="mailto:anas.merbouh@outlook.com">anas.merbouh@outlook.com</a>
          <br />
          <i class="fa fa-facebook fa-fw"></i> facebook.com/team3990
          <i class="fa fa-twitter fa-fw"></i> @team3990
          <i class="fa fa-youtube-play fa-fw"></i> youtube.com/team3990
          <i class="fa fa-google-plus fa-fw"></i> Google+
          <i class="fa fa-tumblr fa-fw"></i> team3990.tumblr.com
          <i class="fa fa-pinterest fa-fw"></i> pinterest.com/team3990
          <i class="fa fa-instagram fa-fw"></i> @team3990
          <i class="fa fa-github fa-fw"></i> github.com/team3990
      <hr />
    </div>
  </div>
</div>