<div class="row">
  <div class="col-lg-12">
      <div class="page-header">
          <h1><i class="fa fa-user fa-fw"></i> Bonjour {{ (authService.user | async)?.firstName }} {{ (authService.user | async)?.name }}! <small>Mon profil</small></h1>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <div class="btn-toolbar" role="toolbar">
      
          <div class="btn-group">
              <a [routerLink]="['modify/infos']" class="btn btn-default"><i class="fa fa-user fa-fw"></i> Modifier mes informations</a>
          </div>
          
          <div class="btn-group">
              <a [routerLink]="['modify/password']" class="btn btn-default"><i class="fa fa-lock fa-fw"></i> Modifier mon mot de passe</a>
          </div>
      
      </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Informations personnelles</h3>
      </div>

      <div class="panel-body">
        <dl class="dl-horizontal">
                            
          <dt>Prénom</dt>
          <dd>{{ (authService.user | async)?.firstName }}</dd>
                  
          <dt>Nom</dt>
          <dd>{{ (authService.user | async)?.name }}</dd>
          
          <dt *ngIf="authService.canWrite(user)">Titre professionnel</dt>
          <dd *ngIf="authService.canWrite(user)">{{ (authService.user | async)?.professionalTitle }}</dd>

          <dt>Rôle</dt>
          <dd *ngIf="authService.canWrite(user)">Mentor</dd>
          <dd *ngIf="!authService.canWrite(user)">Élève</dd>
                  
          <dt *ngIf="!authService.canWrite(user)">Groupe</dt>
          <dd *ngIf="!authService.canWrite(user)">{{ (authService.user | async)?.group }}</dd>
                                          
        </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Informations de contact</h3>
      </div>

      <div class="panel-body">
        <dl class="dl-horizontal">
              
          <dt>Courriel</dt>
          <dd><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ (authService.user | async)?.email }}">{{ (authService.user | async)?.email }}</a></dd>
                  
          <dt>Téléphone (cellulaire)</dt>
          <dd><i class="fa fa-mobile fa-fw"></i> {{ (authService.user | async)?.mobilePhoneNumber }}</dd>
                  
          <dt *ngIf="!authService.canWrite(user)">Téléphone (maison #1)</dt>
          <dd *ngIf="!authService.canWrite(user)"><i class="fa fa-phone fa-fw"></i> {{ (authService.user | async)?.homePhoneNumber1 }}</dd>
                  
          <dt *ngIf="!authService.canWrite(user)">Téléphone (maison #2)</dt>
          <dd *ngIf="!authService.canWrite(user)"><i class="fa fa-phone fa-fw"></i> {{ (authService.user | async)?.homePhoneNumber2 }}</dd>                                     
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-muted text-center small">
        <hr />
          Équipe Team 3990: Tech for Kids.
          <i class="fa fa-info-circle fa-fw"></i> Version 1.0.0 (20170905). <a href="#">Change Log</a>.
          <i class="fa fa-question-circle fa-fw"></i> Soutien technique: <a href="mailto:anas.merbouh@outlook.com">anas.merbouh@outlook.com</a>
          <br />
          <i class="fa fa-facebook fa-fw"></i> facebook.com/team3990
          <i class="fa fa-twitter fa-fw"></i> @team3990
          <i class="fa fa-youtube-play fa-fw"></i> youtube.com/team3990
          <i class="fa fa-google-plus fa-fw"></i> Google+
          <i class="fa fa-tumblr fa-fw"></i> team3990.tumblr.com
          <i class="fa fa-pinterest fa-fw"></i> pinterest.com/team3990
          <i class="fa fa-instagram fa-fw"></i> @team3990
          <i class="fa fa-github fa-fw"></i> github.com/team3990
      <hr />
    </div>
  </div>
</div>